body {
    background-image: url('/images/simonthings.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    user-select: none;
    font-family: sans-serif;
}

#game-div {
    border: 1px solid rgba(54, 39, 12, 0.5);
    border-radius: 15px;
    background-image: url('/images/blueboard.png');
    background-size: cover;
    width: 1400px;
    height: 800px;
    margin: 40px auto;
    margin-bottom: 0px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3), 0px 6px 6px rgba(0, 0, 0, 0.3);
}

#play-btn {
    margin-top: 710px;
}

#images-container {
    border: 1px solid rgba(44, 44, 44, 0.5);
    float: right;
    border-radius: 12px;
    margin: 100px 23px;
    padding: 6px;
    background-image: url('/images/lights.png');
    background-repeat: no-repeat;
    background-size: contain;
    animation: fadeIn 1.2s;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2), 0px 6px 6px rgba(0, 0, 0, 0.2);
}

#images-container img {
    width: 100px;
    height: 100px;
}

#images-grid {
    display: grid;
    grid-template-columns: 120px 120px 120px 120px 120px 120px 120px;
    grid-template-rows: 120px 120px 120px 120px;
    width: 820px;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 9px;
}


h1 {
    position: relative;
    z-index: 1;
}

h3 {
    font-size: 22px;
    margin: 10px;
}

p {
    font-size: 20px;
    margin: 5px;
}

#text-section {
    width: 500px;
    height: 610px;
    float: left;
    margin: 95px 0 95px 20px;
    font-family: 'Play', sans-serif;
    animation: fadeIn 1.2s;
}

#timer-div {
    margin: 10px;
}


button {
    font-size: 1.3em;
    padding: 4px 10px;
    border-radius: 5px;
    border: 1px solid rgb(58, 56, 56);
    background-color: rgba(255, 255, 255, 0.671);
    margin: 10px;
}

button:hover {
    box-shadow: 0 8px 5px -5px rgb(43, 40, 40);
    transform: translateY(-3px);
    transition: 0.1s;
}


img {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

#intro {
    text-align: center;
    position: relative;
}

#instructions-div {
    position: absolute;
    color: black;
    margin-top: 250px;
    width: 500px;
    left: 30%;
    z-index: 1;
    border-radius: 10px;
    background-image: url('/images/blueboard.png');
    padding: 0 0 10px 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3), 0px 6px 6px rgba(0, 0, 0, 0.3);
}


.hide {
    display: none;
}

.unclickable {
    pointer-events: none;
}

.active {
    background-color: rgba(255, 255, 255, .3);
}

@keyframes fadeIn {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}